.form__header{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__header a{
    text-decoration: none;
    margin-bottom: 20px;
    color: #bb1e1e;
    font-size: 1.5rem;
}

.searchbarcontainer{
    width: 100%;
}